[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
virl2-client = "*"
pynetbox = "*"
requests = "*"
python-dotenv = "*"
rich = "*"
netaddr = "*"
jinja2 = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
