hostname {{ data.hostname }}
vdc {{ data.hostname }} id 1
  allocate interface Ethernet2/1-48
  allocate interface Ethernet3/1-48
  limit-resource vlan minimum 16 maximum 4094
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 768
  limit-resource u4route-mem minimum 96 maximum 96
  limit-resource u6route-mem minimum 24 maximum 24
  limit-resource m4route-mem minimum 58 maximum 58
  limit-resource m6route-mem minimum 8 maximum 8
  
vrf context management
  ip route 0.0.0.0/0 {{ data.gateway }}

feature telnet


username adminbackup password 5 ! role network-operator
username admin password 5 $1$KuOSBsvW$Cy0TSD..gEBGBPjzpDgf51 role network-admin
username cisco password 5 $1$Nk7ZkwH0$fyiRmMMfIheqE3BqvcL0C1 role network-operator
username cisco role network-admin
username lab password 5 $1$buoy/oqy$.EXQz8rCn72ii8qtdldj00 role network-admin
no password strength-check
no ip domain-lookup

hardware forwarding unicast trace


interface {{ data.interface }}
  description OOB Management
  vrf member management
  ip address {{ data.ip }} {{ data.mask }}
  no shutdown
  

line console
line vty